{% extends 'base.html' %} 
{% block header %}
      {% include 'header.html' %}
      {% endblock %}
      
{% block content %}
<div class="container">
<table class="table">
  <thead class="thead-inverse bg-info text-light">
    <tr>
      <th>Board</th>
      <th>Posts</th>
      <th>Topics</th>
      <th>Last Post</th>
    </tr>
  </thead>
  <tbody>
    {% for board in boards %}
    <tr>
      <td>
        <a
          class="text-decoration-none"
          href="{% url 'boards:topic-list' board.name %}">
          {{ board.name | upper }}
        </a>
        <small class="text-muted d-block"
          >{{ board.description | truncatechars:60 }}</small>
      </td>
      <td class="align-middle">{{ board.get_posts_count }}</td>
      <td class="align-middle">{{ board.topics.count }}</td>
      <td class="align-middle">
        {% with post=board.get_last_post %}
  {% if post %}
    <small>

        By {{ post.created_by.username }} at {{ post.created_at }}

    </small>
  {% else %}
    <small class="text-muted">
      <em>No posts yet.</em>
    </small>
  {% endif %}
{% endwith %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
