{% extends 'base.html' %} 
{% block header %}
      {% include 'header.html' %}
{% endblock %}

{% block content %}
<table class="table">
  <thead class="thead-inverse bg-info text-light">
    <tr>
      <th>Board</th>
      <th>Posts</th>
      <th>Topics</th>
      <th>Last Post</th>
    </tr>
  </thead>
  <tbody>
    {% for board in boards %}
    <tr>
      <td>
        <a
          class="text-decoration-none"
          href="{% url 'boards:topic-list' board.name %}">
          {{ board.name | upper }}
        </a>
        <small class="text-muted d-block"
          >{{ board.description | truncatechars:60 }}</small>
      </td>
      <td class="align-middle">0</td>
      <td class="align-middle">0</td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
