{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}
  {{ request.path | remove_slash }} - {{ block.super }}
{% endblock %}
{% block header %}
      {% include 'header.html' %}
{% endblock %}


{% block content %}
<a href="{% url 'boards:add-topic' request.path|remove_slash %}">
  <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  class="btn btn-info mb-3 border-0">New Topic</button>
</a>
  <table class="table">
    <thead class="thead-inverse bg-info text-light">
      <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
      <tr>
        <td>
            {{ topic.subject }}

          <small class="text-muted d-block"
            >{{ board.starter }}</small>
        </td>
        <td class="align-middle">{{ topic.starter.username }}</td>
        <td class="align-middle">0</td>
        <td></td>
        <td>{{ topic.created_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}