{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}
  {{ request.path|remove_slash }} - {{ block.super }}
{% endblock %}
{% block header %}
      {% include 'header.html' %}
{% endblock %}


{% block content %}

{% include 'add_topic.html' %}
<div class="container">
  <ol class="breadcrumb my-4 p-2" style="background-color: whitesmoke;">
      <li class="breadcrumb-item">  <a href="{% url 'boards:home' %}">Boards</a></li>
    <li class="breadcrumb-item active">{{ request.path|remove_slash|remove_board  }}</li>
  </ol>
  {% if user.is_authenticated %}
  <button type="button" class="btn btn-info border-0" data-bs-toggle="modal" data-bs-target="#newtopic" >New Topic</button>
  {% else %}
  <button type="button"  data-bs-toggle="modal" data-bs-target="#login"  class="btn btn-info mb-3 ml-4 border-0">New Topic</button>
  {% endif %}


  <table class="table mt-4">
    <thead class="thead-inverse bg-info text-light">
      <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
      <tr>
        <td>
          <a href="{% url 'boards:topic-post' topic.board.name topic.subject topic.pk %}">
            {{ topic.subject }}
          </a>

          <small class="text-muted d-block"
            >{{ board.starter }}</small>
        </td>
        <td class="align-middle">{{ topic.starter.username }}</td>
        <td class="align-middle">0</td>
        <td></td>
        <td>{{ topic.created_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}