<!-- modal -->
{% load custom_tags %}
<div class="modal fade " id="updatepost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header text-c">
              <h5 class="modal-title" id="exampleModalLabel">Update Post</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form  action="{% url 'boards:update-post' item.id %}" method="POST">
                  {% csrf_token %} {{ update_post_form.as_p }}
                  <hr class="p-1">
                  <button class="btn btn-primary" type="submit">update</button>
              </form>
          </div>
      </div>
  </div>
</div>