<!-- Modal -->
<div class="modal fade " id="signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-c">
                <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'accounts:sign-up' %}" method="post">
                    {% csrf_token %} {{ signup_form.as_p }}
                    <hr class="p-1">
                    <button class="btn btn-primary" type="submit">Create Account</button>
                </form>
            </div>
        </div>
    </div>
</div>